:root {
    --border-color: rgb(26, 28, 62);
    --card-color: rgb(183, 183, 183);
    --hover-color: rgba(241, 193, 18, 0.75);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;

    background: url('/static/dark-wood.jpg');
}

div {
    box-sizing: border-box;
}

.deck {
    position: fixed;
    width: 100%;
    bottom: 10px;
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.card {
    width: 100px;
    height: 140px;
    display: inline-block;
    position: relative;

    border-radius: 10px;
    background: var(--card-color);
    border: 5px solid var(--border-color);

    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 5px 5px var(--hover-color);
    }

    &>div {
        pointer-events: none;
    }

    margin-right: 1em;

    &:last-child {
        margin-right: 0;
    }

    .num {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 2.5em;
        margin: 0 auto;
        color: var(--border-color);
        font-weight: bold;
    }

    .skulls {
        width: 75%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;

        img {
            width: 15px;
            height: auto;
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }

        &.top {
            top: 5%;
        }

        &.bottom {
            bottom: 5%;
        }
    }
}

.points {
    position: fixed;
    top: 10px;
    right: 10px;

    .entry {
        background: var(--border-color);
        color: var(--card-color);
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;

        &.player_0,
        &.player_1 {
            &::before {
                background: rgba(238, 238, 238, 0.5);
                color: var(--border-color);
                position: absolute;
                left: -10px;
                transform: translate(-100%, 0);
                padding: 10px;
                border-radius: 10px;
            }
        }

        &.player_0::before {
            content: 'AI';
        }

        &.player_1::before {
            content: 'YOU';
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .sum {
        font-size: 2em;
    }
}

.waitbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}