:root {
    --border-color: rgb(26, 28, 62);
    --card-color: rgb(183, 183, 183);
    --hover-color: rgba(241, 193, 18, 0.75);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;

    background: url('/static/dark-wood.jpg');

    user-select: none;
}

div {
    box-sizing: border-box;
}

.deck {
    position: fixed;
    width: 100%;
    bottom: 10px;
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.card {
    width: 100px;
    height: 155px;
    display: inline-block;
    position: relative;

    border-radius: 10px;
    background: var(--card-color);
    background-size: cover;
    border: 5px solid var(--border-color);

    cursor: pointer;

    &:hover {
        box-shadow: 0px 0px 5px 5px var(--hover-color);
    }

    &>div {
        pointer-events: none;
    }

    margin-right: 1em;

    &:last-child {
        margin-right: 0;
    }

    .num {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 2.5em;
        margin: 0 auto;
        color: var(--border-color);
        font-weight: bold;
    }

    .skulls {
        width: 75%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;

        img {
            width: 15px;
            height: auto;
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }

        &.top {
            top: 5%;
        }

        &.bottom {
            bottom: 5%;
        }
    }

    .player-name {
        background: var(--border-color);
        color: var(--card-color);

        padding: 5px;
        position: absolute;
        bottom: -1em;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 5px;
    }
}

.points {
    position: fixed;
    top: 10px;
    right: 10px;

    .entry {
        background: var(--border-color);
        color: var(--card-color);
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .sum {
        font-size: 2em;
    }
}

.button {
    margin: 0 auto;
    padding: 10px;

    background: var(--border-color);
    color: var(--card-color);

    border-radius: 5px;

    cursor: pointer;

    &:hover {
        background: var(--hover-color);
        color: var(--border-color);
    }
}

.end-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 25%;
    max-width: 75%;
    max-height: 90%;

    background: var(--card-color);
    border: 5px solid var(--border-color);
    color: var(--border-color);
    border-radius: 10px;
    padding: 1em 1.5em;

    z-index: 2000;

    .score-row {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid var(--border-color);
        line-height: 3em;

        &:last-child {
            border-bottom: none;
        }
    }

    .player-name {
        font-size: 1.5em;
        font-weight: bold;
        margin-right: 1em;
        flex: auto;
    }

    .player-sum {
        font-size: 2em;
        width: 3em;
        text-align: right;
        flex: 0 1 5em;
    }
}

.waitbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}